<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

  <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}" />
</head>

<body>

  <div class="auth-container">

    <div class="auth-box">

      <h1>AmortizePro</h1>
      <p>Financial Analytics Platform</p>

      <h2>Login</h2>

      <input type="email" id="email" placeholder="Email">
      <input type="password" id="password" placeholder="Password">

      <button id="loginBtn" onclick="login()">
        Login
      </button>

      <div class="switch-link">
        Don't have account?
        <a href="/signup-page">Signup</a>
      </div>

    </div>

  </div>

  <div class="toast-container" id="toastContainer"></div>

  <script src="{{ url_for('static', filename='login.js') }}"></script>

</body>

</html>